nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(8, 185, 1);
    color: white;
    height: 50px;
}

a{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: large;
    text-decoration: none;
}